body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__arrow{
        background: #897b7b;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;
        font-size: 24px;
    }
}

.storiescontainer::-webkit-scrollbar {
    display: none;
}

.storiescontainer {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 650px;
    padding: 10px;
    position: relative;

    &__story{
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
        position: relative;

        &-image{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            object-fit: cover;
            // transition: transform 0.3s;
            transition: transform 0.3s, border-color 0.3s;
            border: 2px solid red;

            &:hover{
                transform: scale(1.1);
            }
        }

        &-grayborder{
            border-color: gray; 
        }
    }

    // &__arrow{
    //     // position: absolute;
    //     // top: 50%;
    //     // transform: translateY(-50%);
    //     background: #ffffff;
    //     border: none;
    //     cursor: pointer;
    //     font-size: 24px;
    //     // padding: 10px;
    //     z-index: 10;

    //     &-left{
    //         left: 0;
    //     }

    //     &-right{
    //         right: 0;
    //     }
    // }
}

#storyPlayer {
    display: none;
}

.storyplayer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 80%;
    max-width: 1200px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__navigation{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;

        &-btn{
            background: #fff;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 18px;
        }
    }

    &__content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        &-main{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            &--video{
                width: 100%;
                height: auto;
            }
        }

        &-prev, &-next{
            flex: 0 0 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        &-prev img, &-next img{
            width: 80%;
            height: auto;
            cursor: pointer;
            border-radius: 10px;
        }

        &-closebtn{
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: transparent;
            border: none;
            font-size: 24px;
            cursor: pointer;
            color: white;
            z-index: 10;
            top: 0;
    
            &:hover{
                color: red;
            }
        }
    }
}