@import "./sass/colors";
@import "./sass/mixins";
@import "./sass/functions";

body {
    margin: 0;
    padding: 0;
    @include justifyCenter;
}

.container{
    @include flexCenter;

    &__arrow{
        border: none;
        cursor: pointer;
        border-radius: 50%;
        font-size: rem(24px);
    }
}

.storiescontainer::-webkit-scrollbar {
    display: none;
}

.storiescontainer {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    max-width: rem(680px);
    padding: rem(10px);
    position: relative;

    &__story{
        display: inline-block;
        margin: 0 rem(10px);
        cursor: pointer;
        position: relative;

        &-image{
            width: rem(70px);
            height: rem(70px);
            border-radius: 50%;
            object-fit: cover;
            padding: rem(2px);
            transition: transform 0.3s ease-in-out, border-color 0.3s;
            border: rem(2px) solid $color-primary;

            &:hover{
                transform: scale(1.02);
            }
        }

        &-grayborder{
            border-color: $color-secondary; 
        }
    }
}

#storyPlayer {
    display: none;
}

.storyplayer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: rem(20px);
    border-radius: rem(10px);
    box-shadow: 0 0 rem(10px) $color-shadow;
    z-index: 1000;
    width: 80%;
    max-width: rem(1200px);
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__navigation{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 rem(20px);

        &-btn{
            background: $color-white;
            border: none;
            padding: rem(10px);
            cursor: pointer;
            border-radius: rem(5px);
            font-size: rem(18px);
        }
    }

    &__content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        &-main{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            &--video{
                width: 80%;
                height: 100%;
                object-fit: cover;
                border-radius: rem(10px);
            }
        }

        &-prev, &-next{
            flex: 0 0 rem(300px);
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 100%;
            width: 100%;
        }

        &-pVideo{
            width: 80%;
            height: auto;
            cursor: pointer;
            border-radius: rem(10px);
            object-fit: cover;
            height: 75%;
            width: 70%;
        }

        &-nVideo{
            width: 80%;
            height: auto;
            cursor: pointer;
            border-radius: rem(10px);
            object-fit: cover;
            height: 75%;
            width: 70%;
        }

        &-closebtn{
            position: absolute;
            top: rem(20px);
            right: rem(10px);
            background-color: transparent;
            border: none;
            font-size: rem(24px);
            cursor: pointer;
            color: $color-black;
            z-index: 10;
            top: 2%;
            transition: color 0.1s ease-in-out;
    
            &:hover{
                color: $color-hover;
            }
        }
    }
}