body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__arrow{
        // background: #897b7b;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;
        font-size: 24px;
    }
}

.storiescontainer::-webkit-scrollbar {
    display: none;
}

.storiescontainer {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 680px;
    padding: 10px;
    position: relative;

    &__story{
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
        position: relative;

        &-image{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            object-fit: cover;
            padding: 2px;
            transition: transform 0.3s ease-in-out, border-color 0.3s;
            border: 2px solid red;

            &:hover{
                transform: scale(1.02);
            }
        }

        &-grayborder{
            border-color: gray; 
        }
    }
}

#storyPlayer {
    display: none;
}

.storyplayer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 80%;
    max-width: 1200px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__navigation{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;

        &-btn{
            background: #fff;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 18px;
        }
    }

    &__content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        &-main{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            &--video{
                width: 80%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        &-prev, &-next{
            flex: 0 0 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 100%;
            width: 100%;
        }

        // &-prev video, &-next video{
        //     width: 80%;
        //     height: auto;
        //     cursor: pointer;
        //     border-radius: 10px;
        // }

        &-pVideo{
            width: 80%;
            height: auto;
            cursor: pointer;
            border-radius: 10px;
            object-fit: cover;
            height: 75%;
            width: 70%;
        }

        &-nVideo{
            width: 80%;
            height: auto;
            cursor: pointer;
            border-radius: 10px;
            object-fit: cover;
            height: 75%;
            width: 70%;
        }

        &-closebtn{
            position: absolute;
            top: 20px;
            right: 10px;
            background-color: transparent;
            border: none;
            font-size: 24px;
            cursor: pointer;
            color: black;
            z-index: 10;
            top: 2%;
            transition: color 0.1s ease-in-out;
    
            &:hover{
                color: #333;
            }
        }
    }
}